<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kingrocket.eofan" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>易凡网</name>
    <description>

    </description>
    <author email="developer@kingrocket.com" href="http://www.eofan.com">
      西安晶舟电子科技有限公司
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />



    <!-- Don't store local data in an iCloud backup. Turn this to "cloud" to enable storage 
         to be sent to iCloud. Note: enabling this could result in Apple rejecting your app.
    -->
    <preference name="BackupWebStorage" value="none" />
	<preference name="SplashScreen" value="screen" /> <!-- 不带后缀png的文件名，默认是screen-->
    <preference name="SplashScreenDelay" value="3000" /> <!-- Splash显示时间，默认是3000ms-->
    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
    </feature>
    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    <feature name="NetworkStatus">
        <param name="ios-package" value="CDVConnection" />
    </feature>


</widget>
